local   all             postgres                                peer

# TYPE  DATABASE        USER            ADDRESS                 METHOD

# "local" is for Unix domain socket connections only
local   all             all                                     peer
# IPv4 local connections:
host    all             all             127.0.0.1/32            scram-sha-256
# IPv6 local connections:
host    all             all             ::1/128                 scram-sha-256
# Allow replication connections from localhost, by a user with the
# replication privilege.
local   replication     all                                     peer
host    replication     all             127.0.0.1/32            scram-sha-256
host    replication     all             ::1/128                 scram-sha-256


#host    all             all             10.0.0.0/8                      scram-sha-256

{% for host in groups['nginx-mediawiki'] %}
host   my_wiki          wikiuser     {{ hostvars[host]['ansible_local'] }}/32   scram-sha-256
{% endfor %}
